In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
# df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
df_schema = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [4]:
df['ConvertedComp'].median()

57287.0

In [5]:
df.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [6]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [23]:
df['ConvertedComp'].count()

55823

In [29]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [30]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [31]:
df_schema.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [32]:
df_schema.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [33]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [34]:
df['Country'].value_counts()

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Brunei Darussalam            1
Chad                         1
Saint Kitts and Nevis        1
Papua New Guinea             1
Dominica                     1
Name: Country, Length: 179, dtype: int64

In [35]:
country_grp = df.groupby(['Country'])

In [36]:
country_grp.get_group('Bangladesh').head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
42,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,No,"Secondary school (e.g. American high school, G...",NaN,Taken a part-time in-person course in programm...,"Just me - I am a freelancer, sole proprietor, ...",Academic researcher;Data or business analyst;D...,8,15,5,Neither satisfied nor dissatisfied,Slightly satisfied,Very confident,Yes,Yes,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles,No,Office environment or company culture;Remote w...,I was preparing for a job search,USD,United States dollar,NaN,Monthly,NaN,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,All or almost all the time (I'm full-time remote),Office,Far above average,"Yes, because I see value in code review",10.0,NaN,NaN,NaN,HTML/CSS;JavaScript;PHP;TypeScript,JavaScript;PHP;TypeScript,MySQL,Firebase;MySQL,WordPress,WordPress,jQuery;Laravel,jQuery;Laravel;React.js,Node.js,Node.js,Visual Studio Code,Windows,Development;Testing,Accepting Bitcoin or other coins and tokens as...,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,Yes,Facebook,Online,Screen Name,2008,Daily or almost daily,Find answers to specific questions;Meet other ...,More than 10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Daily or almost daily,Yes,"No, and I don't know what those are","Yes, somewhat",Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,30.0,Man,No,Straight / Heterosexual,Middle Eastern,NaN,Appropriate in length,Easy
171,I am a student who is learning to code,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Bangladesh,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Participated in online coding competitions (e....,NaN,Academic researcher;Educator;Student,4,19,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Specific department or team I'd be working on;...,I heard about a job opportunity (from a recrui...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;C++;C#;HTML/CSS;Java;Objective-C;PH...,Bash/Shell/PowerShell;Clojure;JavaScript,MySQL;Oracle,SQLite,Android;iOS,NaN,ASP.NET,jQuery;Laravel;React.js;Vue.js,TensorFlow,.NET;Node.js;Unity 3D,NetBeans;Notepad++,Windows,I do not use containers,NaN,NaN,Yes,Yes,What?,Facebook,In real life (in person),Login,2018,A few times per week,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,0-10 minutes,Yes,A few times per week,Yes,Yes,"No, not at all",Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
300,I am a student who is learning to code,No,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bangladesh,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Designer;Developer, back-end;Developer, front-...",2,18,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Specific department or team I'd be working on;...,I was preparing for a job search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;SQL,Dart;HTML/CSS;Java;JavaScript;Kotlin;Python;SQL,Microsoft SQL Server;MySQL;SQLite,MySQL;Oracle;PostgreSQL;SQLite,Android;Linux;Windows,Android;AWS;Google Cloud Platform;Heroku;Linux...,jQuery;Spring,Django;jQuery;Spring,Flutter;Node.js,Flutter;Node.js;TensorFlow,Android Studio;IntelliJ;NetBeans;PyCharm;Visua...,Windows,Development,NaN,NaN,Yes,Yes,What?,Facebook,In real life (in person),Username,2017,Multiple times per day,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers,NaN,Man,NaN,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
324,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Bangladesh,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",NaN,20 to 99 employees,"Developer, back-end;Developer, embedded applic...",15,17,11,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,Somewhat confident,Yes,Yes,"I’m not actively looking, but I am open to new...",3-4 years ago,"Write code by hand (e.g., on a whiteboard);Sol...",No,Office environment or company culture;Opportun...,I heard about a job opportunity (from a recrui...,USD,United States dollar,2500.0,Monthly,30000.0,45.0,There's no schedule or spec; I work on what se...,Lack of support from management;Not enough peo...,About half the time,Office,A little above average,"Yes, because I see value in code review",5.0,"No, but I think we should",Not sure,I have little or no influence,C#;HTML/CSS;JavaScript;SQL;TypeScript,C#;HTML/CSS;JavaScript;SQL;TypeScript,Microsoft SQL Server;Oracle,Microsoft SQL Server;Oracle,Android;Windows,Android;Windows,Angular/Angular.js;ASP.NET,Angular/Angular.js;ASP.NET;Express;jQuery;Vue.js,Cordova;.NET;Node.js,Cordova;.NET;.NET Core;Node.js,Sublime Text;Visual Studio;Visual Studio Code,Windows,NaN,Not at all,NaN,No,Yes,Yes,Facebook,In real life (in person),UserID,2010,Multiple times per day,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,34.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
690,"I used to be a developer by profession, but no...",No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Retired,Bangladesh,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly,Assembly,NaN,NaN,Android;Other(s):,Android;Other(s):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
filt = df['Country'] == 'Bangladesh'

df.loc[filt]['SocialMedia'].value_counts()

Facebook                    313
YouTube                     137
LinkedIn                     62
Twitter                      19
I don't use social media     17
WhatsApp                     14
Reddit                        9
Instagram                     8
Snapchat                      2
VK ВКонта́кте                 1
Name: SocialMedia, dtype: int64

In [38]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['Bangladesh']

SocialMedia
Facebook                    0.537801
YouTube                     0.235395
LinkedIn                    0.106529
Twitter                     0.032646
I don't use social media    0.029210
WhatsApp                    0.024055
Reddit                      0.015464
Instagram                   0.013746
Snapchat                    0.003436
VK ВКонта́кте               0.001718
Name: SocialMedia, dtype: float64

In [43]:
country_grp['ConvertedComp'].median().loc['Bangladesh']

8764.0

In [44]:
country_grp['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [45]:
filt = df['Country'] == 'Bangladesh'

In [49]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

204

In [50]:
country_grp['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [52]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).head(10)

Country
Afghanistan              8
Albania                 23
Algeria                 40
Andorra                  0
Angola                   2
Antigua and Barbuda      0
Argentina              191
Armenia                 28
Australia              790
Austria                338
Name: LanguageWorkedWith, dtype: int64

In [53]:
country_respondents = df['Country'].value_counts()

In [54]:
country_respondents

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Brunei Darussalam            1
Chad                         1
Saint Kitts and Nevis        1
Papua New Guinea             1
Dominica                     1
Name: Country, Length: 179, dtype: int64

In [59]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [60]:
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [69]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns')

In [70]:
python_df

                       Country  LanguageWorkedWith
United States            20949               10083
India                     9061                3105
Germany                   5866                2451
United Kingdom            5737                2384
Canada                    3395                1558
...                        ...                 ...
Brunei Darussalam            1                   0
Chad                         1                   0
Saint Kitts and Nevis        1                   0
Papua New Guinea             1                   0
Dominica                     1                   1

[179 rows x 2 columns]

In [74]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [75]:
python_df

                       NumRespondents  NumKnowsPython
United States                   20949           10083
India                            9061            3105
Germany                          5866            2451
United Kingdom                   5737            2384
Canada                           3395            1558
...                               ...             ...
Brunei Darussalam                   1               0
Chad                                1               0
Saint Kitts and Nevis               1               0
Papua New Guinea                    1               0
Dominica                            1               1

[179 rows x 2 columns]

In [76]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100

In [77]:
python_df

                       NumRespondents  NumKnowsPython  PctKnowsPython
United States                   20949           10083       48.131176
India                            9061            3105       34.267741
Germany                          5866            2451       41.783157
United Kingdom                   5737            2384       41.554820
Canada                           3395            1558       45.891016
...                               ...             ...             ...
Brunei Darussalam                   1               0        0.000000
Chad                                1               0        0.000000
Saint Kitts and Nevis               1               0        0.000000
Papua New Guinea                    1               0        0.000000
Dominica                            1               1      100.000000

[179 rows x 3 columns]

In [81]:
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)

In [83]:
python_df.head(20)

                           NumRespondents  NumKnowsPython  PctKnowsPython
Dominica                                1               1      100.000000
Niger                                   1               1      100.000000
Sao Tome and Principe                   1               1      100.000000
Timor-Leste                             1               1      100.000000
Turkmenistan                            7               6       85.714286
Mauritania                              7               5       71.428571
Guinea                                  3               2       66.666667
Guyana                                  3               2       66.666667
Bahamas                                 3               2       66.666667
Uganda                                 72              47       65.277778
Iceland                                49              30       61.224490
Haiti                                   5               3       60.000000
Namibia                                 5               3       60.000000
Benin                                   5               3       60.000000
Congo, Republic of the...               7               4       57.142857
Oman                                   11               6       54.545455
Cuba                                   30              16       53.333333
Republic of Korea                      39              20       51.282051
Monaco                                  4               2       50.000000
Seychelles                              2               1       50.000000

In [85]:
python_df.loc['Bangladesh']

NumRespondents    605.000000
NumKnowsPython    204.000000
PctKnowsPython     33.719008
Name: Bangladesh, dtype: float64